.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: end;
  position: absolute;
  top: 0;
  left: 70%; 
  color: rgb(255, 255, 255);
  z-index: 1;
}

.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: end;
  position: absolute;
  top: 3%;
  left: 70%;
  color: rgb(255, 255, 255);

}

.box {
  margin: 5px
}

.hidden {
  visibility: hidden;
}

.new-post {
  display: flex;
  flex-direction: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: rgb(85, 12, 85);
  color: rgb(255, 255, 255);
  width: 100%;
}

.posts {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.deliver {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: end;
}

#footer {
  margin: 10px;
}

.nav {
  margin: 10px;
}